<!DOCTYPE html>
<html>
  <head>
    <title>Notable</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="//cdn.quilljs.com/1.2.6/quill.snow.css">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript" >
      window.staticImages = {
        logo: "<%= image_path('logo.png')%>",
        github: "<%= image_path('github.png')%>",
        gmail: "<%= image_path('gmail.png')%>",
        linkedin: "<%= image_path('linkedin.png')%>",
        mid1: "<%= image_path('Mid1.png')%>",
        mid2: "<%= image_path('Mid2.png')%>",
        mid3: "<%= image_path('Mid3.png')%>",
        dl: "<%= image_path('dl.png')%>",
        new: "<%= image_path('New.png')%>",
        notebook: "<%= image_path('notebook.png')%>",
        add: "<%= image_path('add.png')%>",
        dotsMenu: "<%= image_path('dotsMenu.png')%>",



      }
    </script>

   <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Libre+Barcode+39+Text|Lato" rel="stylesheet">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
   <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">


  </head>

  <body>
    <%= yield %>
  </body>
</html>
